@import url("variable.css");

.bg-primary{
background-color: var(--primary);
}
.bg-secondary{
    background-color: var(--secondary);
}
.bg-success{
    background-color: var(--success);
}
.bg-danger{
    background-color: var(--danger);
}
.bg-warning{
    background-color: var(--warning);
}
.bg-info{
    background-color: var(--info);
}
.bg-light{
    background-color: var(--light);
}
.bg-dark{
   background-color: var(--dark);
}
.bg-white{
   background-color: var(--white);
}