/**
yükseklik ayarı
*/
.h-auto{
    height: auto;
}
/* 
.h-25-y{
    height: 25%;
}
.h-50-y{
    height: 50%;
 }
.h-75-y{
    height: 75%;
} */
  
.h-100-y{
    height: 100%;
}
.h-0{height: 0px;}
.h-10{height: 10px;}.h-20{height: 20px;}.h-30{height: 30px;}.h-40{height: 40px;}.h-50{height: 50px;}.h-60{height: 60px;}.h-70{height: 70px;}.h-80{height: 80px;}.h-90{height: 90px;}.h-100{height: 100px;}
.h-110{height: 110px;}.h-120{height: 120px;}.h-130{height: 130px;}.h-140{height: 140px;}.h-150{height: 150px;}.h-160{height: 160px;}.h-170{height: 170px;}.h-180{height: 180px;}.h-190{height: 190px;}.h-200{height: 200px;}
.h-210{height: 210px;}.h-220{height: 220px;}.h-230{height: 230px;}.h-240{height: 240px;}.h-250{height: 250px;}.h-260{height: 260px;}.h-270{height: 270px;}.h-280{height: 280px;}.h-290{height: 290px;}.h-300{height: 300px;}
.h-310{height: 310px;}.h-320{height: 320px;}.h-330{height: 330px;}.h-340{height: 340px;}.h-350{height: 350px;}.h-360{height: 360px;}.h-370{height: 370px;}.h-380{height: 380px;}.h-390{height: 390px;}.h-400{height: 400px;}
.h-410{height: 410px;}.h-420{height: 420px;}.h-430{height: 430px;}.h-440{height: 440px;}.h-450{height: 450px;}.h-460{height: 460px;}.h-470{height: 470px;}.h-480{height: 480px;}.h-490{height: 490px;}.h-500{height: 500px;}
.h-510{height: 510px;}.h-520{height: 520px;}.h-530{height: 530px;}.h-540{height: 540px;}.h-550{height: 550px;}.h-560{height: 560px;}.h-570{height: 570px;}.h-580{height: 580px;}.h-590{height: 590px;}.h-600{height: 600px;}
.h-610{height: 610px;}.h-620{height: 620px;}.h-630{height: 630px;}.h-640{height: 640px;}.h-650{height: 650px;}.h-660{height: 660px;}.h-670{height: 670px;}.h-680{height: 680px;}.h-690{height: 690px;}.h-700{height: 700px;}
.h-710{height: 710px;}.h-720{height: 720px;}.h-730{height: 730px;}.h-740{height: 740px;}.h-750{height: 750px;}.h-760{height: 760px;}.h-770{height: 770px;}.h-780{height: 780px;}.h-790{height: 790px;}.h-800{height: 800px;}
.h-810{height: 810px;}.h-820{height: 820px;}.h-830{height: 830px;}.h-840{height: 840px;}.h-850{height: 850px;}.h-860{height: 860px;}.h-870{height: 870px;}.h-880{height: 880px;}.h-890{height: 890px;}.h-900{height: 900px;}
.h-910{height: 910px;}.h-920{height: 920px;}.h-930{height: 930px;}.h-940{height: 940px;}.h-950{height: 950px;}.h-960{height: 960px;}.h-970{height: 970px;}.h-980{height: 980px;}.h-990{height: 990px;}.h-1000{height: 1000px;}
.h-1010{height: 1010px;}.h-1020{height: 1020px;}.h-1030{height: 1030px;}.h-1040{height: 1040px;}.h-1050{height: 1050px;}.h-1060{height: 1060px;}.h-1070{height: 1070px;}.h-1080{height: 1080px;}.h-1090{height: 1090px;}.h-1100{height: 1100px;}
.h-1110{height: 1110px;}.h-1120{height: 1120px;}.h-1130{height: 1130px;}.h-1140{height: 1140px;}.h-1150{height: 1150px;}.h-1160{height: 1160px;}.h-1170{height: 1170px;}.h-1180{height: 1180px;}.h-1190{height: 1190px;}.h-1200{height: 1200px;}
.h-1210{height: 1210px;}.h-1220{height: 1220px;}.h-1230{height: 1230px;}.h-1240{height: 1240px;}.h-1250{height: 1250px;}.h-1260{height: 1260px;}.h-1270{height: 1270px;}.h-1280{height: 1280px;}.h-1290{height: 1290px;}.h-1300{height: 1300px;}
.h-1310{height: 1310px;}.h-1320{height: 1320px;}.h-1330{height: 1330px;}.h-1340{height: 1340px;}.h-1350{height: 1350px;}.h-1360{height: 1360px;}.h-1370{height: 1370px;}.h-1380{height: 1380px;}.h-1390{height: 1390px;}.h-1400{height: 1400px;}
.h-1410{height: 1410px;}.h-1420{height: 1420px;}.h-1430{height: 1430px;}.h-1440{height: 1440px;}.h-1450{height: 1450px;}.h-1460{height: 1460px;}.h-1470{height: 1470px;}.h-1480{height: 1480px;}.h-1490{height: 1490px;}.h-1500{height: 1500px;}










