.m-auto{
    margin: auto;
}
.m-0{
    margin: 0px;
}
.m-2{
    margin: 2px;
}

.m-4{
    margin: 4px;
}
.m-6{
    margin: 6px;
}
.m-8{
    margin: 8px;
}
.m-10{
    margin: 10px;
}
.m-12{
    margin: 12px;
}
.m-14{
    margin: 14px;
}
.m-16{
    margin: 16px;
}
.m-18{
    margin: 18px;
}
.m-20{
    margin: 20px;
}
.m-22{
    margin: 22px;
}
.m-24{
    margin: 24px;
}
.m-26{
    margin: 26px;
}
.m-28{
    margin: 28px;
}
.m-30{
    margin: 30px;
}

/****************************************************/
.mt-0{
    margin-top: 0px;
}
.mt-2{
    margin-top: 2px;
}

.mt-4{
    margin-top: 4px;
}
.mt-6{
    margin-top: 6px;
}
.mt-8{
    margin-top: 8px;
}
.mt-10{
    margin-top: 10px;
}
.mt-12{
    margin-top: 12px;
}
.mt-14{
    margin-top: 14px;
}
.mt-16{
    margin-top: 16px;
}
.mt-18{
    margin-top: 18px;
}
.mt-20{
    margin-top: 20px;
}
.mt-22{
    margin-top: 22px;
}
.mt-24{
    margin-top: 24px;
}
.mt-26{
    margin-top: 26px;
}
.mt-28{
    margin-top: 28px;
}
.mt-30{
    margin-top: 30px;
}

/****************************************************/
.mb-0{
    margin-bottom: 0px;
}
.mb-2{
    margin-bottom: 2px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-6{
    margin-bottom: 6px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-14{
    margin-bottom: 14px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-18{
    margin-bottom: 18px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-22{
    margin-bottom: 22px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-26{
    margin-bottom: 26px;
}
.mb-28{
    margin-bottom: 28px;
}
.mb-30{
    margin-bottom: 30px;
}
/****************************************************/
.mr-0{
    margin-right: 0px;
}
.mr-2{
    margin-right: 2px;
}
.mr-4{
    margin-right: 4px;
}
.mr-6{
    margin-right: 6px;
}
.mr-8{
    margin-right: 8px;
}
.mr-10{
    margin-right: 10px;
}
.mr-12{
    margin-right: 12px;
}
.mr-14{
    margin-right: 14px;
}
.mr-16{
    margin-right: 16px;
}
.mr-18{
    margin-right: 18px;
}
.mr-20{
    margin-right: 20px;
}
.mr-22{
    margin-right: 22px;
}
.mr-24{
    margin-right: 24px;
}
.mr-26{
    margin-right: 26px;
}
.mr-28{
    margin-right: 28px;
}
.mr-30{
    margin-right: 30px;
}

/****************************************************/
ml-0{
    margin-left: 0px;
}
.ml-2{
    margin-left: 2px;
}
.ml-4{
    margin-left: 4px;
}
.ml-6{
    margin-left: 6px;
}
.ml-8{
    margin-left: 8px;
}
.ml-10{
    margin-left: 10px;
}
.ml-12{
    margin-left: 12px;
}
.ml-14{
    margin-left: 14px;
}
.ml-16{
    margin-left: 16px;
}
.ml-18{
    margin-left: 18px;
}
.ml-20{
    margin-left: 20px;
}
.ml-22{
    margin-left: 22px;
}
.ml-24{
    margin-left: 24px;
}
.ml-26{
    margin-left: 26px;
}
.ml-28{
    margin-left: 28px;
}
.ml-30{
    margin-left: 30px;
}


